/* Requires ContextSearch-web-ext */
/* https://github.com/ssborbis/ContextSearch-web-ext */
/* Preferred - Copy to ContextSearch-web-ext, General Settings > Custom CSS */
/* 'OR' import contextsearchConfig.css in userContent.css - Works but doesn't style input search box */

:root {
  --font: 10px !important;
  --folder-color: transparent !important;
  --border: var(--tab-selected-outline-color, rgb(255, 100, 244)) !important; /* userChrome.css Color */
  --background: var(--lwt-accent-color, rgb(24, 25, 38)) !important; /* userChrome.css Color */
  --tools-color: var(--lwt-text-color, rgb(192, 202, 245)) !important; /* userChrome.css Color */
  --tb-bgcolor: var(--toolbar-bgcolor, rgb(36, 40, 59)) !important; /* userChrome.css Color */
  --selected: var(--in-content-item-selected, rgba(255, 100, 244, 0.35)) !important; /* userChrome.css Color */
  --separator: var(--selected) !important;
  --hover: var(--selected) !important;
  --folder-label-color-singlecolumn: var(--tools-color) !important;
    color: var(--tools-color) !important;
    font-size: var(--font) !important;
    font-family: "Arial", Helvetica, sans-serif !important;
}

Body {
  border: none !important;
  border-radius: inherit !important;
}

GROUP {
  /* direction: rtl; Makes some items align right side first */
  --group-color: var(--tb-bgcolor) !important;
  > LABEL {
    color: var(--tools-color) !important;
    font-weight: bold;
    text-transform: uppercase !important;
    background-color: transparent;
    box-shadow: 0 1px 40px 25px var(--selected) !important;
  }
}

.tile {
  border: none !important;
  border-radius: 4px !important;

  &::after {
    content: none !important;
  }

  &:Hover {
    box-shadow: inset 0 0 0 1px var(--border) !important;
    background-color: var(--selected) !important;
  }

  &[data-type="separator"] {
    margin: 0 !important;
    height: 0 !important;
    width: 100% !important;
    border-bottom: 1px solid var(--border) !important;
    box-shadow: none !important;
  }

  &[data-type="folder"] {
    box-shadow: inset 0 0 0 1px rgba(255, 100, 244, 0.0), inset 0px 10px 10px -5px var(--selected) !important;

    &:Hover {
      box-shadow: inset 0 0 0 1px var(--border), inset 0px 10px 5px -5px var(--border) !important;
      background-color: var(--selected) !important;
    }
  }

  &.singleColumn {
    font-size: var(--font) !important;
    &:hover {
      box-shadow: none !important;
    }
  }

  /* Filters history.svg black icon to match color scheme, in this case for #c0caf5 */
  /* https://codepen.io/sosuke/pen/Pjoqqp - use this to find your filter color*/
  &[style*="history.svg"] {
    filter: invert(98%) sepia(28%) saturate(4501%) hue-rotate(175deg) brightness(100%) contrast(92%) !important;
  }
}

.quickMenuMore {
  border-radius: inherit !important;
  background: var(--tb-bgcolor) !important;
}

#searchBar {
  font-size: var(--font) !important;
  height: 20px !important;
  background-color: var(--tb-bgcolor) !important;
  width: calc(100% - 43px);
  padding: 0 20px;
}

#searchBarContainer > .tool {
  padding: 0 !important;
  margin-top: 5px !important;
}

#moreSearchTermsIndicator {
  font-size: 15px !important;
  background-color: var(--selected) !important;
  right: 0px !important;
  height: 20px !important;
  margin: 0px !important;
  cursor: pointer !important;
  color: var(--tools-color) !important;
  font-family: "Arial", Helvetica, sans-serif !important;
  z-index: 2 !important;
  border-radius: 0px !important;
  border-left: solid 1px var(--border);
}

#suggestions {
  color: var(--tools-color) !important;
  font-size: var(--font) !important;
  border: none !important;
  border-top: 1px solid var(--border) !important;
  background-color: var(--folder-color) !important;

  > DIV {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    height: 15px !important;
    font-size: var(--font) !important;
    padding: 0 0 3px 2px !important;

    .tool {
      visibility: collapse !important;
    }
  }
}

.selectedFocus,
.selectedNoFocus {
  background-color: var(--selected) !important;
  box-shadow: inset 0 0 0 1px var(--selected) !important;
}

/* Will not resolve userChrome.css variable assignments, ONLY from userContent.css */

.CS_quickMenuIframe {
  opacity: .3 !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: 0 0 0 1px var(--tab-selected-outline-color, rgb(255, 100, 244)) !important; /* userContent.css Color */

  &:hover {
    /* transition: all 300ms ease-in-out 0ms !important; */
    opacity: .9 !important;
    box-shadow: 0 0 0 1px var(--tab-selected-outline-color, rgb(255, 100, 244)), 0 0 20px -5px var(--tab-selected-outline-color, rgb(255, 100, 244)) !important; /* userContent.css Color */
  }
}