/* Requires ContextSearch-web-ext */
/* https://github.com/ssborbis/ContextSearch-web-ext */
/* Preferred - Copy to ContextSearch-web-ext, General Settings > Custom CSS */
/* 'OR' import contextsearchConfig.css in userContent.css - Works but doesn't style input search box */

:root {
  --font: 10px !important;
  --folder-color: transparent !important;
  --border: var(--tab-selected-outline-color, rgb(255, 100, 244)) !important; /* userChrome.css Color */
  --background: var(--lwt-accent-color, rgb(24, 25, 38)) !important; /* userChrome.css Color */
  --tools-color: var(--lwt-text-color, rgb(192, 202, 245)) !important; /* userChrome.css Color */
  --tb-bgcolor: var(--toolbar-bgcolor, rgb(36, 40, 59)) !important; /* userChrome.css Color */
  --selected: var(--in-content-item-selected, rgba(255, 100, 244, 0.35)) !important; /* userChrome.css Color */
  --separator: var(--selected) !important;
  --hover: var(--selected) !important;
  --folder-label-color-singlecolumn: var(--tools-color) !important;
  color: var(--tools-color) !important;
}

GROUP {
  padding: 0 !important;
  --group-color: var(--tb-bgcolor) !important;
  > LABEL {
      color: var(--tools-color) !important;
      padding: 4px !important;
      font-family: "Arial", Helvetica, sans-serif !important;
      font-weight: bold;
      font-size: var(--font) !important;
      text-transform: uppercase !important;
      background-color: var(--tb-bgcolor);
      box-shadow: 0 1px 40px 25px var(--selected) !important;
  }
}

.tile {
  margin: 1px 0 2px 0 !important;
  border: none !important;

  &:hover {
      border-radius: 4px !important;
      box-shadow: 0 0 0 1px var(--border), 0 1px 10px 2px var(--border) !important;
  }

  &[data-type="separator"] {
      margin: 0 !important;
      height: 0 !important;
      width: 100% !important;
      border-bottom: 1px solid var(--border) !important;
      box-shadow: none !important;
  }
  /* Filters history.svg black icon to match color scheme, in this case for #c0caf5 */
  /* https://codepen.io/sosuke/pen/Pjoqqp - use this to find your filter color*/
  &[style*="history.svg"] {
    filter: invert(98%) sepia(28%) saturate(4501%) hue-rotate(175deg) brightness(100%) contrast(92%) !important;
  }
}

#quickMenuElement {
  margin-bottom: -1px !important;
}

.quickMenuMore {
  border-radius: 0 !important;
  background: var(--tb-bgcolor) !important;
}

#searchBar {
  color: var(--tools-color) !important;
  font-size: var(--font) !important;
  height: 20px !important;
  outline: none !important;
  background-color: var(--tb-bgcolor) !important;

  &:focus {
      border: none !important;
      background-color: var(--tb-bgcolor) !important;
  }
}

#searchBarContainer > .tool {
  font-size: var(--font) !important;
  padding: 0 !important;
}
#moreSearchTermsIndicator {
  background-color: var(--tb-bgcolor) !important;
  font-size: 15px !important;
  right: 2px !important;
  padding: 0px 5px !important;
  margin-top: 2px !important;
  cursor: pointer !important;
  color: var(--selected)!important;
  font-family: "Arial", Helvetica, sans-serif !important;
  z-index: 10 !important;
  border-radius: 4px !important;
  box-shadow: 0 0 0 1px var(--selected) !important;
}

#suggestions {
  color: var(--tools-color) !important;
  font-size: var(--font) !important;
  margin-bottom: -1px !important;
  border: none !important;
  border-top: 1px solid var(--border) !important;
  background-color: var(--folder-color) !important;

  > DIV {
      display: flex !important;
      flex-direction: column !important;
      justify-content: flex-end !important;
      height: 15px !important;
      font-size: var(--font) !important;
      padding: 0 0 3px 2px !important;

      .tool {
          visibility: collapse !important;
      }
  }
}

.selectedFocus,
.selectedNoFocus {
  color: var(--selected) !important;
  border-radius: 4px !important;
  background-color: var(--selected) !important;
  box-shadow: 0 0 0 1px var(--selected) !important;
}

/* Will not resolve userChrome.css variable assignments, ONLY from userContent.css */
#CS_quickMenuIframe,
.CS_quickMenuIframe {
  opacity: .2 !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: 0 0 0 1px var(--tab-selected-outline-color, rgb(255, 100, 244)) !important; /* userContent.css Color */

  &:hover {
      /* transition: all 300ms ease-in-out 0ms !important; */
      opacity: .9 !important;
      box-shadow: 0 0 0 1px var(--tab-selected-outline-color, rgb(255, 100, 244)), 0 0 20px -5px var(--tab-selected-outline-color, rgb(255, 100, 244)) !important; /* userContent.css Color */
  }
}
