/* Sidebery Colors */
div#root.root.Sidebar {
--s-frame-bg: rgb(30, 32, 48) !important;
--s-frame-fg: rgb(202, 211, 245) !important;
--s-toolbar-bg: rgb(36, 39, 58) !important;
--s-toolbar-fg: rgb(186, 187, 241) !important;
--s-act-el-bg: rgb(48, 52, 70) !important;
--s-act-el-fg: rgb(198, 208, 245) !important;
--s-popup-bg: rgba(30, 32, 48, 0.85) !important;
--s-popup-fg: rgb(202, 211, 245) !important;
--s-popup-border: rgba(255, 100, 244, 0.52) !important;
--s-act-el-border: rgba(255, 100, 244, 0.52) !important;
--s-accent: rgba(255, 100, 244, 0.52) !important;
}
#sdbr_preview_root {
--hbg: rgb(36, 39, 58) !important;
--hfg: rgb(186, 187, 241) !important;
--bg: rgb(36, 39, 58) !important;
--fg: rgb(186, 187, 241) !important;
}
