@import url(userColors.css);
:root,
#sidebar-box {
	--uc-sidebar-width: 38px; /* Set initial collapsed sidebar width */
	--uc-sidebar-hover-width: 300px; /* Set uncollapsed width on hover */
	--uc-autohide-sidebar-delay: 500ms;
	--uc-autohide-transition-duration: 300ms;
	--uc-autohide-transition-type: ease-in-out;
	--uc-sidebar-hover-area: 10px;
	--uc-navbar-hover-area: 13px;
}
/*
	https://howbigismybrowser.com/
	Use to determine viewport sizes for adjustments in userContent & userChrome
*/