@import url(theme/website-newtab.css);/* New tab page */
@import url(userConfig.css); /* Make adjustments to userConfig.css */
@import url(sideberyColors.css);
/* IMPORTANT Choose LEFT or RIGHT in Sidebery "Tab Preview - Sidebar Side" */
	/* Sidebery - pop-in-page tab preview cosmetic changes */
div.header[style*="--hfg"][style*="--hbg"] {
	visibility: collapse !important;
}
div.popup[style*="--fg"][style*="--bg"] {
	border: 1px solid rgba(255, 100, 244, 0.52);
	&:has(div[style*="position: absolute; width: calc(100% + 0px); height: 100%; top: 0px; left: 0px; background-image: none;"]) {
		visibility: collapse !important;
		border: 2px solid rgba(255, 100, 244, 0.52);
	}
	@media not (-moz-bool-pref: "sidebar.position_start") { right: calc(var(--uc-sidebar-hover-width) - var(--uc-sidebar-width)) !important;}
	@media (-moz-bool-pref: "sidebar.position_start") { left: calc(var(--uc-sidebar-hover-width) - var(--uc-sidebar-width)) !important;}
}
	/* Sidebery - fix pop-in-page tab preview alignment - Specifically when maximized */
@media (width: 1748px), (-moz-bool-pref: "uc.full.tabs") { /* Adjustments may be needed for user specific screen size */
	div.popup[style*="--fg"][style*="--bg"] {
		@media not (-moz-bool-pref: "sidebar.position_start") { right: 0px !important; }
		@media (-moz-bool-pref: "sidebar.position_start") { left: 0px !important; }
	}
}
	/* Sidebery - tab preview fix alignment when uc.chromeless is toggled to true */
@media (-moz-bool-pref: "uc.chromeless") {
	div.popup[style*="--fg"][style*="--bg"] {
		@media not (-moz-bool-pref: "sidebar.position_start") { right: var(--uc-sidebar-hover-width) !important; }
		@media (-moz-bool-pref: "sidebar.position_start") { left: var(--uc-sidebar-hover-width) !important; }
	}
}
/*div[style*="position: relative; width: 100%;"]:has(div[style*="position: absolute; width: calc(100% + 0px); height: 100%; top: 0px; left: 0px; background-image: none;"]) {
	height: fit-content !important;	
}*/