@import url(chrome/autohide_main_toolbar.css);
@import url(chrome/autohide_sidebar.css);
@import url(chrome/drag_window_from_urlbar.css);
@import url(userConfig.css); /* Make adjustments to userConfig.css */
/*@import url(userColors.css);*/
:root,
#sidebar-box {
	transition: all var(--uc-transition-global);
	transition-delay: 0ms !important;
}
	/* Main Toolbar - autohide_main_toolbar.css References */
:root {
	--uc-autohide-toolbar-delay: var(--uc-autohide-sidebar-delay);
	--uc-autohide-toolbar-duration: var(--uc-autohide-transition-duration);
	--uc-transition-global: var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay);
}
	/* Width below 750px, add length to urlbar on focus */
@media (max-width: 750px) {
	toolbaritem#urlbar-container:focus-within {
		position: absolute !important;
		margin-left: 3vw !important;
		margin-right: 6vw !important;
		display: block !important;
		width: 94vw !important;
	}
}
	/* Enable full sidebar in Windowed Mode */
@media (-moz-bool-pref: "uc.full.tabs") {
	#sidebar-box {
		--uc-sidebar-width: var(--uc-sidebar-hover-width) !important;
	}
}
	/* Show full sidebar when maximized - Disabled if < 1200px wide */
#main-window[sizemode="maximized"] {
	/* Added for display rotation in mind which I often utilize - Adjustments may be needed for user specific screen size */
	@media (min-width: 1153px) {
		#sidebar-box {
		--uc-sidebar-width: var(--uc-sidebar-hover-width) !important;
		}
	}
	/* Toggle collapsed sidebar when maximized */
	@media (-moz-bool-pref: "uc.collapse.tabs") {
		#sidebar-box {
			--uc-sidebar-width: 38px !important;
		}
	}
	/* Toggle for Chromeless Experience */
	@media not (-moz-bool-pref: "uc.chromeless") {
		#sidebar-header,
		#sidebar {
			opacity: 95% !important;
		}
	}
}
	/* Hide tab bar when Sidebery is active */
#main-window:has(#sidebar-box[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][checked*="true"]) {
	/* Removes 1px gap from the top */
	stack.browserStack,
	#sidebar-box {
		margin-top: -1px !important;
	}
	.titlebar-button {
		height: abs(var(--uc-navbar-transform));
		width: 35px;
		transition: all var(--uc-transition-global);
		transition-timing-function: ease !important;
	}
	/* Positioning for window controls */
	.titlebar-buttonbox-container {
		display: block;
		position: absolute;
		top: calc(var(--uc-navbar-transform) + var(--uc-navbar-hover-area));
		right: 0px;
		visibility: visible;
		transition: all var(--uc-transition-global);
		transition-timing-function: ease !important;
			:hover .titlebar-button {
				background: var(--toolbar-bgcolor) !important;
				transition-delay: 0ms;
			}
			.titlebar-close:hover {
				background: red !important;
			}
	}
	.titlebar-buttonbox-container .titlebar-close:hover {
				background: red !important;
	}
	#TabsToolbar {
		visibility: collapse !important;
	}
	#TabsToolbar.browser-toolbar.browser-titlebar {
		z-index: 4 !important;
	}
	#navigator-toolbox:hover .titlebar-buttonbox-container {
		top: 0px;
		transition-delay: 0ms;
	}
	/* Add padding for window controls */
	#PanelUI-button,
	#personal-bookmarks {
		padding-right: 28px !important;
	}
	/* Remove revamp sidebar toolbar */
	#sidebar-main {
		visibility: collapse !important;
		display: none !important;
	}
	/* Toggle for chromeless */
	@media (-moz-bool-pref: "uc.chromeless") {
		#sidebar-header,
		#sidebar {
			min-width: var(--uc-sidebar-hover-area) !important; /* Sidebar  Hover Area - Make Adjustments in userConfig.css */
			opacity: 0%;
			transition: all var(--uc-transition-global) !important;
		}
		#sidebar-box {
			--uc-sidebar-width: 0px !important;
			&:hover {
				& > #sidebar-header,
				& > #sidebar {
					min-width: var(--uc-sidebar-hover-width) !important;
					opacity: 95% !important;
					transition-delay: 0ms !important;
				}
			}
		}
	}
}
#nav-bar {
	height: 40px !important;
    transform: translateY(calc(var(--uc-navbar-transform) + var(--uc-navbar-hover-area))); /* Navbar Hover Area - Make Adjustments in userConfig.css */
}
#urlbar-background {
	opacity: 0.85;
    border-radius: 6px !important;
}
#star-button-box,
.url-page-action {
	visibility: visible !important;
	display: block !important;
}
#PersonalToolbar {
	height: 40px !important;
	z-index: auto !important;
}
	/* Shorten sidebar header a bit & make it draggable */
#sidebar-header {
	height: 38px !important;
	background: var(--toolbar-bgcolor) !important;
	-moz-window-dragging: drag;
}
#sidebar-box {
	z-index: 1 !important;
	opacity: 95% !important;
}
	/* Removes left and right spacers in toolbar & sidebar close button */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"],
#sidebar-close,
#pageActionButton,
#zoom-controls separator,
	/* Remove Menu Items */
#context-openlink,
#context-openlinkprivate,
#context-savelinktopocket,
#context-sendimage,
#context-viewimageinfo,
#context-inspect,
#context-inspect-a11y {
	display: none !important;
}
	/* Auto Collapse/Expand Windows Controls */
.titlebar-restore,
.titlebar-max,
.titlebar-close {
	visibility: collapse !important;
}
.titlebar-buttonbox-container:hover {
	.titlebar-restore,
	.titlebar-max,
	.titlebar-close {
		visibility: visible !important;
	}
}
@media not (-moz-bool-pref: "sidebar.verticalTabs")	{
	/* Shorter Tab Bar*/
	:root {
		--tab-max-height: 24px !important;
		--tab-min-height: 0px !important;
		--urlbar-toolbar-height: var(--tab-max-height) !important;
	}
	.tab-background {
		margin: 0 !important;
	}
	.tab-secondary-label {
		font-size: .5em !important;
		margin: -.6em 0 .5em !important;
	}
}
	/* Testing Native vertical tabs functionality */
@media (-moz-bool-pref: "sidebar.verticalTabs")	{
	/* Remove revamp sidebar buttons */
	.tools-and-extensions.actions-list,
	.bottom-actions {
		display: none !important;
	}
	box#sidebar-main {
		position: relative !important;
		transform: translateX(240px) !important;
		opacity: 0% !important;
		transition: all var(--uc-transition-global) !important;
	}
	box#sidebar-main:hover {
		transition-delay: 0ms !important;
		opacity: 95% !important;
		transform: translateX(0px) !important;
	}
	stack.browserStack { margin-right: -250px !important; }
}