@import url(chrome/autohide_main_toolbar.css);
@import url(chrome/autohide_sidebar.css);
/*@import url(chrome/drag_window_from_urlbar.css);*/
@import url(userConfig.css); /* Make adjustments to userConfig.css */
@import url(chrome/compact_extensions_panel.css);
:root,
#sidebar-box {
	transition: all var(--uc-transition-global);
	transition-delay: 0ms;
}
	/* Main Toolbar - autohide_main_toolbar.css References */
:root {
	--uc-autohide-toolbar-delay: var(--uc-autohide-sidebar-delay);
	--uc-autohide-toolbar-duration: var(--uc-autohide-transition-duration);
	--uc-transition-global: var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay);
}
	/* Width below 750px, add length to urlbar on focus */
@media (max-width: 750px) {
	toolbaritem#urlbar-container:focus-within {
		position: absolute !important;
		margin-left: 3vw !important;
		margin-right: 6vw !important;
		display: block !important;
		width: 94vw !important;
	}
}
	/* Enable full sidebar in Windowed Mode */
@media -moz-pref("uc.full.tabs") {
	#sidebar-box {
		--uc-sidebar-width: var(--uc-sidebar-hover-width);
	}
}
	/* Show full sidebar when maximized - Disabled if < 1200px wide */
#main-window[sizemode="maximized"] {
	/* Added for display rotation in mind which I often utilize - Adjustments may be needed for user specific screen size */
	@media (min-width: 1153px) {
		#sidebar-box {
		--uc-sidebar-width: var(--uc-sidebar-hover-width);
		}
	}
	/* Toggle collapsed sidebar when maximized */
	@media -moz-pref("uc.collapse.tabs") {
		#sidebar-box {
			--uc-sidebar-width: 38px !important;
		}
	}
	/* Toggle for Chromeless Experience */
	@media not -moz-pref("uc.chromeless") {
		#sidebar-header,
		#sidebar {
			opacity: 95%;
		}
	}
}
	/* Hide tab bar when Sidebery is active */
#main-window:has(#sidebar-box[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][checked*="true"]) {
	/* Removes 1px gap from the top */
	/*stack.browserStack,
	#sidebar-box {
		margin-top: -1px;
	}*/
	.titlebar-button {
		height: abs(var(--uc-navbar-transform));
		width: 35px;
		transition: all var(--uc-transition-global);
		transition-timing-function: ease;
		opacity: 30%;
	}
	/* Positioning for window controls */
	.titlebar-buttonbox-container {
		display: block;
		position: absolute;
		top: calc(var(--uc-navbar-transform) + var(--uc-navbar-hover-area));
		right: 0px;
		/*width: 35px;*/
		visibility: visible;
		transition: all var(--uc-transition-global);
		transition-timing-function: ease;
		/*&:hover {
			width: 105px;
		}*/
		:hover .titlebar-button {
			background: var(--toolbar-bgcolor) !important;
			transition-delay: 0ms;
			opacity: 100%
		}
		.titlebar-close:hover {
			background: red !important;
		}
	}
	#TabsToolbar {
		visibility: collapse;
		&.browser-toolbar.browser-titlebar {
			z-index: 4;
		}
	}
	#navigator-toolbox:hover .titlebar-buttonbox-container {
		top: 0px;
		transition-delay: 0ms;
	}
	/* Add padding for window controls */
	#PanelUI-button,
	#personal-bookmarks {
		padding-right: 28px;
	}
	/* Remove revamp sidebar toolbar */
	#sidebar-main {
		visibility: collapse !important;
		display: none !important;
	}
	/* Toggle for chromeless */
	@media -moz-pref("uc.chromeless") {
		#sidebar-header,
		#sidebar {
			min-width: var(--uc-sidebar-hover-area) !important; /* Sidebar  Hover Area - Make Adjustments in userConfig.css */
			opacity: 0%;
			transition: all var(--uc-transition-global) !important;
		}
		#sidebar-box {
			--uc-sidebar-width: 0px !important;
			&:hover {
				& #sidebar-header,
				& #sidebar {
					min-width: var(--uc-sidebar-hover-width) !important;
					opacity: 95%;
					transition-delay: -100ms !important;
				}
			}
		}
	}
}
#editBMPanel_folderTree {
  min-height: 340px;
}
toolbarspring {
	cursor: grab;
}
#nav-bar {
	height: 40px !important;
	border-top: 0 !important;
	transform: translateY(calc(var(--uc-navbar-transform) + var(--uc-navbar-hover-area))); /* Navbar Hover Area - Make Adjustments in userConfig.css */
}
#urlbar-background {
	opacity: 0.85;
	border-radius: 6px !important;
}
#star-button-box,
.url-page-action {
	visibility: visible !important;
	display: block !important;
}
#PersonalToolbar {
	height: 40px !important;
	z-index: auto !important;
}
	/* Shorten sidebar header a bit & make it draggable */
#sidebar-header {
	height: 38px !important;
	background: var(--toolbar-bgcolor) !important;
	-moz-window-dragging: drag;
	cursor: grab;
}
#sidebar-box {
	z-index: 1 !important;
	opacity: 95% !important;
}
	/* Removes left and right spacers in toolbar & sidebar close button */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"],
#sidebar-close,
#pageActionButton,
#zoom-controls separator,
	/* Remove Menu Items */
#context-openlink,
/* #context-openlinkprivate, */
#context-savelinktopocket,
#context-sendimage,
#context-viewimageinfo,
/* #context-inspect, */
#context-inspect-a11y,
#context-openlinkinusercontext-menu,
#context-print-selection,
#context-sep-screenshots,
#context-take-screenshot,
#context-savepage,
#context-viewsource,
#context-viewpartialsource-selection,
#context-savelink,
#context-bookmarklink,
#context-copylink,
.titlebar-restore,
.titlebar-max,
.titlebar-close {
	visibility: collapse !important;
}
	/* Auto Collapse/Expand Windows Controls */
.titlebar-buttonbox-container:hover {
	.titlebar-restore,
	.titlebar-max,
	.titlebar-close {
		visibility: visible !important;
	}
}
@media not -moz-pref("sidebar.verticalTabs")	{
	/* Shorter Tab Bar*/
	:root {
		--tab-max-height: 24px !important;
		--tab-min-height: 24px !important;
		--urlbar-toolbar-height: var(--tab-max-height) !important;
	}
	.tab-background {
		margin: 0px !important;
	}
	.tab-secondary-label {
		font-size: .5em !important;
		margin: -.6em 0 .5em !important;
	}
}
	/* Testing Native vertical tabs functionality */
@media -moz-pref("sidebar.verticalTabs")	{
		/* Remove revamp sidebar buttons */
	#sidebar-main {
		background: var(--sidebar-background-color) !important;
		position: absolute !important;
		left: -235px !important;
		z-index: 4 !important;
		height: calc(100vh - 60px) !important; /* Adjust to your environment */
		width: 246px !important;
		transition: all 300ms ease-in-out 500ms !important;
		opacity: 0% !important;
	}

	#sidebar-main:hover {
		transition-delay: -20ms !important;
		width: 246px !important;
		left: 0 !important;
		opacity: 90% !important;
	}
	.tools-and-extensions.actions-list,
	.bottom-actions,
	#sidebar-launcher-splitter {
		display: none !important;
	}
}

@-moz-document url("chrome://global/content/pictureinpicture/player.xhtml") {

    @media (width <= 630px) {
        #audio {
            position: absolute !important;
            top: calc(10px - (100vh - 2 * var(--resize-margin)) + var(--controls-bottom-upper-height) + var(--player-control-item-height) + var(--controls-bottom-distance)) !important;
            left: calc(10px + var(--player-control-item-height) + 10px) !important;
            width: var(--player-control-item-height) !important;
            height: var(--player-control-item-height) !important;
            z-index: 14 !important;
            grid-area: initial !important;
        }

        #audio::after {
            display: none !important;
        }

        #audio-scrubber {
            display: block !important;
            position: absolute !important;
            top: calc(10px - (100vh - 2 * var(--resize-margin)) + var(--controls-bottom-upper-height) + var(--player-control-item-height) + var(--controls-bottom-distance)) !important;
            left: calc(10px + var(--player-control-item-height) + 10px) !important;
            width: calc(var(--player-control-item-height) + 5px + clamp(80px, 20vw, 120px) + 5px) !important;
            height: var(--player-control-item-height) !important;
            opacity: 0 !important;
            visibility: hidden !important;
            pointer-events: none !important;
            z-index: 13 !important;
            -moz-appearance: auto !important;
            appearance: auto !important;
            background: transparent !important;
            padding-left: calc(var(--player-control-item-height) + 5px) !important;
            padding-right: 5px !important;
            border: initial !important;
            box-sizing: border-box !important;
            transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s, width 0.25s ease-in-out;
        }

        #audio:hover + #audio-scrubber,
        #audio-scrubber:hover {
            opacity: 1 !important;
            visibility: visible !important;
            pointer-events: auto !important;
        }
    }

    @media (width <= 280px) {
        #audio-scrubber {
            width: calc(var(--player-control-item-height) + 5px + clamp(40px, 10vw, 70px) + 5px) !important;
        }
    }

    @media (width <= 300px) {
        .controls-bottom-lower {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            width: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
        }

        .center-controls {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
    }
}