@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home) {
    .tile, .sections-card-ui {
        background: transparent !important;
        backdrop-filter: blur(10px) !important;
    }

    content-search-handoff-ui {
        --content-search-handoff-ui-background-color: transparent !important;
        backdrop-filter: blur(10px) !important;
    }

    .search-wrapper {
        border-block-end: none !important;
        background-color: transparent !important;
    }

    .weatherInfoLink, .weatherButtonContextMenuWrapper, .card, .card-outer {
        background-color: transparent !important;
        backdrop-filter: blur(10px) !important;
        background: transparent !important;
    }

    .top-site-outer {
        background: transparent !important;
    }
}